/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";


div.card-header {
 border-color: white;
 background-color: #222222;
 font-size: large;
}

div.card {
  border-color: white;
  background-color: #222222;
  margin-top: 10px
}

.btn{
  border-color: white;
  background-color: #222222;
  color: white;
}

.btn:visited {
  background-color: dimgrey;
  border-color: ghostwhite;
}

.btn:focus {
  background-color: dimgrey;
  border-color: ghostwhite;
}

.btn:hover {
  background-color: dimgrey;
  border-color: ghostwhite;
}

.btn:active {
  background-color: dimgrey;
  border-color: ghostwhite;
}

.btn:disabled{
  background-color: #222222;
  color: ghostwhite;
}

.btn-outline-primary{
  background-color: black;
  color: white;
}

body{
  background-color: #222222;
  color: white;
}

.form-control{
  background-color: black; color: white;
}

.form-control:focus{
  background-color: dimgray; color: white;
}